/*General main styles*/
header {
    text-align: center;
    display:flex;
    justify-content: space-evenly;
}

body {
    margin: 0;
    padding: 0;
    background-color: lavender;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    justify-content: center;
}
/*3 x 3 grid style*/
.small-grid {
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    border-color: red;
    border-style: solid;
    perspective: 800px;
    
}

.small-box {
    height: 90px;
    flex-basis: 30%;
    transform: scale(1);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.small-box:active {
    transform: scale(0.9);
    transition: transform 0.3s;
}

.small-box.flipped {
    transform: rotateY(180deg);
}
/*Image Class setting*/
.back-side, .front-side {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 90px;
    backface-visibility: hidden;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px black;
}

.front-side {
    transform: rotateY(180deg);
    cursor: not-allowed;
}

#extra {
    pointer-events: none;
    box-shadow: -2px 2px black;
}

/*4 x 4 grid style*/
.large-grid {
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    perspective: 800px;
    background-color: lavender;
}

.large-grid > * {
    height: 70px;
    flex-basis: 22%;
    transform: scale(1);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 2px 2px black;
    padding: 1px;
}

.four_by_four {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 70px;
    backface-visibility: hidden;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px black;
}
/*Reset Button*/
#resetGame {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: lawngreen;
    font: bold 30px arial, verdana;
}

/*Media Queries*/
/*Media query upto 360px*/
@media only screen and (min-width: 360px) {
    .small-box {
        height: 120px;
    }

    .back-side, .front-side {
        height: 120px;
    }

    .large-grid > * {
        height: 105px;
    }

    .four_by_four {
        height: 105px;
    }

}
/*Media query min 412px and up*/
@media only screen and (min-width: 412px) {
    .small-box {
    height: 140px;
    }

    .back-side, .front-side {
    height: 140px;
    }

    .large-grid > * {
    height: 120px;
    }

    .four_by_four {
    height: 120px;
    }
}
/*Media query min 540px and up*/
@media only screen and (min-width: 540px) {
    .small-box {
        height: 160px;
    }

    .back-side, .front-side {
        height: 160px;
    }

    .large-grid > * {
        height: 135px;
    }

    .four_by_four {
        height: 135px;
    }
}
    /*Media query min 768px and up*/
    @media only screen and (min-width: 768px) {
        .small-box {
            height: 260px;
        }

        .back-side, .front-side {
            height: 260px;
        }

        .large-grid > * {
            height: 210px;
        }

        .four_by_four {
            height: 210px;
        }
    }
    /*Media query min 1024px */
    @media only screen and (min-width: 1024px) {
        .small-box {
            height: 330px;
        }

        .back-side, .front-side {
            height: 330px;
        }

        .large-grid > * {
            height: 260px;
        }

        .four_by_four {
            height: 260px;
        }
    }

    /* Media query Landscape */
    @media screen and (orientation:landscape) {
        #home {
            position:absolute;
            left: 100px;
            bottom: 400px;
            font-size: 300%;
        }

        #play {
            position: absolute;
            right: 100px;
            bottom: 400px;
            font-size: 300%;
        }   
        

       
        /*3 x 3 grid style*/
        .small-grid {

            justify-content: space-evenly;
            align-content: space-evenly;
            width: 50%;
            margin-right: auto;
            margin-left: auto;
        }

        .small-box {
            height: 210px;
            flex-basis: 26%;
            transform: scale(1);
            position: relative;
            padding: 5px;
        }

        .back-side, .front-side {
            height: 210px;
        }
        
        #resetGame {
            bottom: 0px;
        }
/*4 x 4 grid style*/
        .large-grid {
            justify-content: space-evenly;
            align-content: space-evenly;
            width: 45%;
            margin-right: auto;
            margin-left: auto;
            border-color: red;
            border-style: solid;
            height: 95vh;
        }

        .large-grid > * {
            height: 170px;
            flex-basis: 21%;
            transform: scale(1);
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.5s;
            box-shadow: 2px 2px black;
            padding: 1px;
        }

        .four_by_four {
            width: 100%;
            height: 170px;
        }
    }