/*General main styles*/
header {
    text-align: center;
    display:flex;
    justify-content: space-evenly;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    border-color: black;
    border-style: solid;
    justify-content: center;
}
/*3 x 3 grid style*/
.small-grid {
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    border-color: red;
    border-style: solid;
    perspective: 800px;
    background-color:lavender;
}

/*Common box styles*/
.small-box {
    height: 90px;
    flex-basis: 30%;
    transform: scale(1);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.small-box:active {
    transform: scale(0.9);
    transition: transform 0.3s;
}

.small-box.flipped {
    transform: rotateY(180deg);
}
/*Image Class setting*/
.back-side, .front-side {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 90px;
    backface-visibility: hidden;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px black;
}

.front-side {
    transform: rotateY(180deg);
    cursor: not-allowed;
}

#extra {
    pointer-events: none;
    box-shadow: -2px 2px black;
}

/*4 x 4 grid style*/
.large-grid {
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    perspective: 800px;
    background-color: lavender;
}

.large-grid > * {
    height: 70px;
    flex-basis: 22%;
    transform: scale(1);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 2px 2px black;
    padding: 1px;
}

.four_by_four {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 70px;
    backface-visibility: hidden;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px black;
}
/*Reset Button*/
#resetGame {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: lawngreen;
    font: bold 30px arial, verdana;
}

/*Media Queries*/
@media only screen and (min-width: 412px) {
    .small-box {
        height: 140px;
    }
    .back-side, .front-side {
        height: 140px;
    }
    .large-grid > * {
        height: 120px;
    }
    .four_by_four {
        height: 120px;
    }
    }